@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
/* variáveis css */

:root {

    --header-height: 3rem;

    /*  color */

    --first-color: #0d882f;
    --first-color-dark: #034d18;
    --first-color-darken: black;
    --white-color: white;
    --secondary--color: white;


    /* fonte e tipografia  */

    --body-font: 'roboto', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;

    /*  z index */
    --z-fixed: 100;
}



html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height)000;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 90%;
    height: auto;
}


.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);

}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgb(54 49 49 / 30%);
        backdrop-filter: blur(10px);
        transition: .5s;
    }

}


.nav-close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-item {
    margin-bottom: 2rem;
}

.nav-close,
.nav-link,
.nav-logo,
.nav-toggle {
    color: var(--white-color);
}


.nav-link:hover {
    color: var(--first-color-dark);
}

.nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

.show {
    right: 0;
}

.home {
    background-color: var(--first-color);
    overflow: hidden;
}

.home-container {
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    row-gap: 1.5rem;
}

.home-img {
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 302px;
    height: 233px;
}

.home-img img {
    position: absolute;
    top: 0;
    left: -30px;

}




.home-data {
    color: var(--white-color);
}

.home-title {
    font-size: var(--big-font-size);
    line-height: 1.3;
    margin-bottom: 1rem;
}

.home-description {
    margin-bottom: 2.5rem;
}

.home-button {
    display: inline-block;
    background-color: var(--first-color-dark);
    color: var(--white-color);
    padding: 1.125rem 4rem;
    border-radius: .5rem;
    border: none;
}

.home-button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-toggle,
    .nav-close {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .home-container {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
    }

    .home-img {
        order: 1;
        width: 375px;
        height: 289px;
    }

    .home-img img {
        width: 375px;
    }

    .conhecimentos{
       display: block;
    }



}


    @media screen and (min-width: 1024px) {
        .bd-grid {
            margin-left: auto;
            margin-right: auto;
        }

        .home-container {
            justify-content: initial;
            column-gap: 4.5rem;
        }

        .home-img {
            width: 604px;
            height: 466px;
        }

        .home-img img {
            width: 604px;
        }

        .sessao-contato {
            width: 100px;
            padding: 0;
            left: 0;
        }
        


    }




    /*  Segunda div */

    .conhecimentos {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 6rem);
        row-gap: .5rem;
    }

  
    .conhecimento:nth-child(1) {
        grid-column: 4 / 7;
        grid-row: 1 / 3;
    }

    .conhecimento:nth-child(2) {
        grid-column: 3 / 8;
        grid-row: 3 / 6;
    }

    .conhecimento:nth-child(3) {
        grid-column: 12 / 15;
        grid-row: 3 / 5;
    }

    .conhecimento:nth-child(4) {
        grid-column: 11 / 14;
        grid-row: 1 / 5;
    }


    .sessao-conhecimento {
        background-color: var(--secondary--color);


    }

    .sessao-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        background-color: var(--secondary--color);
    }

    .sessao-header h1 {
        font-family: "roboto", serif;
        font-size: 3rem;
        color: black;
        border-bottom: solid 3px #0d882f;
        background-color: var(--secondary--color);
    }

    .conhecimento-header {
        display: flex;
        align-items: center;
        color: black;

    }

    .conhecimento-header {
        font-size: 2.5rem;
    }

    .conhecimento-header h3 {
        font-family: "roboto", serif;
        font-size: 2rem;
        padding-left: 1rem;
    }

    .conhecimento-text {
        font-family: "roboto", serif;
        margin-top: 1rem;
    }


     .conhecimentos-img-wrapper {
        grid-column: 7 / 11;
        grid-row: 2 / 6;
        width: 100%;
    } 

    .conhecimentos-img-wrapper img {
        object-fit: cover;
        width: 100%;
        /* animation: img-queijo infinite 10s linear; */
    }

    @media screen and (max-width: 768px){
        .conhecimentos{
            display: block;
        }
       
        .conhecimentos-img-wrapper img {
            width: 70%;
            margin: center;

        }

        .sessao-conhecimento{
            background-color: #f5f5f5;
        }

        .sessao-header{
            background-color: #f5f5f5;
        }

        .sessao-header h1{
            background-color: #f5f5f5;
        }

    }



    @keyframes img-queijo {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    /* Contato */

     .sessao-contato {
        width: 100%;
        height: 100vh;
        background-color: var(--secondary--color);
        display: flex;
        align-items: center;
        justify-content: center;

    } 


    .contato-wrapper {
        width: 60%;
        height: 30rem;
        display: flex;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
    }

    .contato-left {
        width: 35%;
        background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(./IMG/pexels-katerina-holmes-5907901-removebg-preview.png);
        background-size: cover;
    }


    .contato-right {
        width: 65%;
        background-color: #eee;
        padding: 1rem 3rem 3rem 3rem;

    }

    .sessao-contato h1 {
        width: 100%;
        text-align: center;
        font-family: "roboto", serif;
        color: black;
        font-size: 3rem;
        font-weight: lighter;
    }

    .sessao-contato form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-group {
        position: relative;
    }

    .field {
        background: transparent;
        border: none;
        width: 20rem;
        font-size: 1.5rem;
        font-family: "roboto", serif;
        border-bottom: 2px dashed #818181;
        height: 2rem;
        outline: none;
        margin: 2rem 0;
    }

    .input-group textarea {
        padding-top: 0.1rem;
        max-width: 25rem;
        max-height: 3rem;
    }

    button:hover {
        opacity: 1;
    }



    .field:focus~label {
        top: 0;
        font-size: 1rem;
    }

    .btn-submit {
        width: 15rem;
        height: 2.5rem;
        background-color: var(--first-color-dark);
        font-family: "roboto", serif;
        font-size: 1.5rem;
        color: #eee;
        border-radius: 1.3rem;
        border: none;
        box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
        cursor: pointer;
    }

    @media screen and (max-width: 768px){
        .sessao-contato{
            width: 100%;
            background-color: #f5f5f5;
        }

        .contato-wrapper{
            width: 80%;
           
        }
        .contato-left{
           width: 100%;
        }
        .contato-right{
            width: 100%;
           
        }
        .input-group{
            width: 80%;
           
        }

        .input-group textarea{
            width: 14rem;
        }
        .field{
            width: 14rem;
        }

        .btn-submit{
            width: 80%;
            
        }


     
    }




    /* bara com copilate  */


    footer {
        width: 100%;
        height: 6rem;
        background-color: var(--first-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .footer-content {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .footer-content p {
        font-family: "roboto", serif;
        color: white;
        font-size: 1.2rem;
    }

    /* test */

   